
<script type="text/template" id="template_styles">



    <div class="row">
    <%var index = 0; %>
    
    <% _.each( styles.models ,function(style){ %>


    <div class=" col-xs-6 col-sm-4 col-md-3  col-lg-2  release-bibliotheque">
    <a href="#bibliotheque/styles/<%= style.get("id") %>">

    
     <image class="image-bibliotheque" src="ressources/default-release.png">

    <div class="div-release-bibliotheque">
    <p><%= style.get("name") %></p>
    </div>

    </a>


    </div>

  
    <% }); %>
    </ul>

 


</script>